@import "reset.css";

body {
  background-color: brown;
}

h1 {
  color: wheat;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: yellow;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
